<div class="grid-card">
    <section class="card-img-container">
        <img src="https://media.gettyimages.com/id/157524162/photo/highway-to-the-sunset.jpg?s=612x612&w=gi&k=20&c=NT06H_PVFWAj8hwrXJvDzFxN2wpWIdtNgvOiHeajUsA=" alt="">
    </section>  
    <section class="card-text">
        <p class="card-text-heading">4-yr-old dies in collapse of 6 houses amid excavation work in Agra</p>
        <p class="truncate card-text-info">
            A four-year-old girl was killed after six houses collapsed during excavation work at a nearby guest house in Uttar Pradesh's Agra on Thursday. The work was underway in the Tila Maithan locality near Agra City Railway Station. The victim was trapped under the debris along with her father and a five-year-old sister.
        </p>
    </section>
    <div class="button-holders">
        <button>Share</button>
        <button>Audio</button>
    </div>
</div>