<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bhashaboli</title>
    <link href="/css/home.css" rel="stylesheet" type="text/css">
    <link href="/css/card.css" rel="stylesheet" type="text/css">
    <link href="/css/news.css" rel="stylesheet" type="text/css">
    <%- include('../partials/materialize'); %>
</head>
<body>
    <%- include('../partials/header'); %>
    <section class="main-card-container" style="justify-content: center;">
      <div class="main-card">
        <section class="main-card-img-container">
            <img style="max-width: 100%; max-height:  100%;" src="https://media.gettyimages.com/id/157524162/photo/highway-to-the-sunset.jpg?s=612x612&w=gi&k=20&c=NT06H_PVFWAj8hwrXJvDzFxN2wpWIdtNgvOiHeajUsA=" alt="">
        </section>  
        <section class="card-text">
            <p class="card-text-heading">4-yr-old dies in collapse of 6 houses amid excavation work in Agra</p>
            <p class="card-text-info">
                
                A four-year-old girl was killed after six houses collapsed during excavation work at a nearby guest house in Uttar Pradesh's Agra on Thursday. The work was underway in the Tila Maithan locality near Agra City Railway Station. The victim was trapped under the debris along with her father and a five-year-old sister.
                A four-year-old girl was killed after six houses collapsed during excavation work at a nearby guest house in Uttar Pradesh's Agra on Thursday. The work was underway in the Tila Maithan locality near Agra City Railway Station. The victim was trapped under the debris along with her father and a five-year-old sister.
            </p>
            <div class="button-holders">
                <button>Share</button>
                <button>Audio</button>
            </div>
        </section>
    </div>
    </section>
</body>
</html>